body {
  font-family: "Georgia", serif;
}

h1,
h2,
h3 {
  font-family: "Georgia", sans-serif;
  font-weight: bold;
}

.quote {
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #333333;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #333333;
}

.quote span.text {
  font-family: "Pacifico";
  display: block;
  margin-bottom: 5px;
  font-size: large;
  font-style: italic;
}

.quote span.text {
  font-family: "Pacifico";
  display: block;
  margin-bottom: 5px;
  font-size: large;
  font-style: italic;
  position: relative; /* Добавлено для позиционирования псевдоэлементов */
}

.quote span.text::before,
.quote span.text::after {
  content: '"';
}

.quote small.author {
  font-weight: bold;
  color: #3677e8;
}

.quote .tags {
  margin-top: 10px;
}

.tag {
  padding: 2px 5px;
  border-radius: 5px;
  color: white;
  font-size: small;
  background-color: #7ca3e6;
}

.pager {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pager {
  padding-left: 0;
  margin: 22px 0;
  list-style: none;
  text-align: center;
}

.pager li {
  display: inline;
}

.pager .next > a,
.pager .next > span {
  float: right;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px;
}

.tags-box {
  text-align: right;
}

.search-box {
  text-align: right;
}

.tag-item {
  display: block;
  margin: 4px;
}

.tag {
  padding: 2px 5px;
  border-radius: 5px;
  color: white;
  font-size: small;
  background-color: #7ca3e6;
}

a {
  color: #4582ec;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #2c4674;
}

.disabled {
  display: none;
}
