{% extends "quotes/base.html" %} {% block content %}
<h2>Add Author</h2>
<form method="post">
  {% csrf_token %}
  <div>
    <label for="{{ form.fullname.id_for_label }}">Full Name:</label>
    {{ form.fullname }}
  </div>
  <div>
    <label for="{{ form.born_date.id_for_label }}">Born Date:</label>
    {{ form.born_date }}
  </div>
  <div>
    <label for="{{ form.born_location.id_for_label }}">Born Location:</label>
    {{ form.born_location }}
  </div>
  <div>
    <label for="{{ form.description.id_for_label }}">Description:</label>
    {{ form.description }}
  </div>
  <button type="submit">Submit</button>
</form>
{% endblock %}
