{% extends 'quotes/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-2">
        <h1>About</h1>
    </div>
    <div class="col-md-6">
      <div>
        <div class="card-body">
          <p class="text-justify">
            This is a website that showcases famous quotes. You can explore
            various quotes from different authors and topics. Feel free to
            search for specific quotes or browse through the available tags.
          </p>
          <p class="text-justify">
            The purpose of this website is to inspire and motivate people with
            meaningful quotes. We believe that words have the power to make a
            positive impact on our lives, and by sharing these quotes, we hope
            to spread inspiration and wisdom.
          </p>
          <p class="text-justify">
            We source our quotes from reputable platforms and aim to provide a
            diverse collection that caters to various interests and
            perspectives. Whether you're seeking motivation, insights, or
            thought-provoking ideas, we've got you covered.
          </p>
        </div>
      </div>
  </div>
{% endblock %}
