{% extends 'quotes/base.html' %} {% block content %}
<h2>Add Quote</h2>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="{{ form.quote.id_for_label }}">Quote:</label>
    <div class="col-md-4">{{ form.quote }}</div>
  </div>
  <div class="form-group">
    <label for="{{ form.tags.id_for_label }}">Tags:</label>
    <div class="col-md-4">{{ form.tags }}</div>
  </div>
  <div class="form-group">
    <label for="{{ form.author.id_for_label }}">Author:</label>
    <div class="col-md-4">{{ form.author }}</div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
