<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'quotes/styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <title>Homework</title>
  </head>
  <body>
    <div class="container">
      <div class="row header-box p-3">
        <div class="col-md-8">
          <h1>
            <a href="/" style="text-decoration: none">Quotes to Scrape</a>
          </h1>
        </div>
        <nav
          style="
            margin-bottom: 20px;
            border-bottom: 2px solid;
            padding-left: 30px;
          "
        >
          {% if user.is_authenticated %}
          <ul>
            <li>
              <a href="{% url 'quotes:add_quote' %}" role="button">Add quote</a>
            </li>
            <li>
              <a href="{% url 'quotes:add_author' %}" role="button"
                >Add author</a
              >
            </li>
          </ul>
          <ul>
            <li>Welcome <b>{{ user.username }}!</b></li>
            <li>
              <a href="{% url 'users:signout' %}" role="button">Sign Out</a>
            </li>
          </ul>
          {% else %}
          <ul>
            <li class="list-group-item list-group-item-action">
              <a href="{% url 'users:signup' %}" role="button">Sign Up</a>
            </li>
            <li class="list-group-item list-group-item-action">
              <a href="{% url 'users:signin' %}" role="button">Sign In</a>
            </li>
          </ul>
          {% endif %}
        </nav>
      </div>

      {% block content %} {% endblock %}
    </div>
  </body>
</html>
