<ul class="nav">
  {% if user.is_authenticated %}
  <li class="nav-item">
    <a href="{% url 'quotes:add_quote' %}" class="nav-link" role="button"
      >Add quote</a
    >
  </li>
  <li class="nav-item">
    <a href="{% url 'quotes:add_author' %}" class="nav-link" role="button"
      >Add author</a
    >
  </li>
  <li class="nav-item">
    <a href="{% url 'quotes:scrape_quotes' %}" class="nav-link" role="button"
      >Scrape quotes</a
    >
  </li>
  {% endif %}
  <li class="nav-item">
    <a href="{% url 'quotes:fill_base' %}" class="nav-link" role="button"
      >Fill quotes</a
    >
  </li>
</ul>
