{% extends 'quotes/base.html' %} {% block content %}
<div class="row">
  <div class="col-md-8">
    <div>{% include 'quotes/quotes.html' %}</div>
    <nav>
      <ul class="pager d-flex justify-content-between">
        <li
          class="previous 
          {% if not quotes.has_previous %}invisible{% endif %}"
        >
          {% if quotes.has_previous %}
          <a
            {% if page_type == "quotes"%}
            href="{% url 'quotes:root_paginate' page=quotes.previous_page_number %}"
            {% elif page_type == "search" %}
            href="{% url 'quotes:searched_results_paginated' query=query page=quotes.previous_page_number %}"
            {% elif page_type == "tags" %}
            href="{% url 'quotes:quotes_by_tag' tag_name=tag.name page=quotes.previous_page_number %}"
            {% endif %}
          >
            <span aria-hidden="true">←</span> Previous
          </a>
          {% endif %}
        </li>
        <li class="next {% if not quotes.has_next %}invisible{% endif %}">
          {% if quotes.has_next %}
          <a
            {% if page_type == "quotes"%}
            href="{% url 'quotes:root_paginate' page=quotes.next_page_number %}"
            {% elif page_type == "search" %}
            href="{% url 'quotes:searched_results_paginated' query=query page=quotes.next_page_number %}"
            {% elif page_type == "tags" %}
            href="{% url 'quotes:quotes_by_tag' tag_name=tag.name page=quotes.next_page_number %}"
            {% endif %}
          >
            Next<span aria-hidden="true">→</span>
          </a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
  {% include 'quotes/top_tags.html' with top_tags=top_tags %}
</div>
{% endblock %}
