{% for quote in quotes %}

<div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
  <span class="text" itemprop="text">{{ quote.quote }}</span>
  <span>
    &mdash;
    <small class="author" itemprop="author">
      <a
        href="{% url 'quotes:author_page' author_slug=quote.author.fullname|slugify %}"
      >
        {{ quote.author.fullname }}
      </a>
    </small>
  </span>
  <div class="tags">
    Tags: {% for tag in quote.tags.all %}
    <a
      class="tag mr-1"
      href="{% url 'quotes:quotes_by_tag' tag_name=tag.name %}"
    >
      {{ tag.name }}
    </a>
    {% endfor %}
  </div>
</div>
{% endfor %}
